<h1>Tentacle Rape! Aaaaaaah!</h1>

<h2>Happy Anniversary Guapa!</h2>

<p>Hey Sharon! It's been a year and a half since I met you, and a year since you became my girlfriend. I can't believe how quickly time has flown by! Especially because some of the time apart felt like an eternity :( But throughout 3 jobs, 2 schools, and 5 graduations we've stuck together and I couldn't be happier to be here mixing our cultures together to spend time with you. I think I would have gone crazy at my job without you there, but you have always made me forget about the other stress in my life when we talk.</p>

<p>This is the first time ever where I don't have a plan for our future, and I'm excited and nervous at the same time. Moving to Mexico was as far as I had ever planned, I always knew it was a logical step, but I never thought about what next. Right now I want us to focus on our differences and what we have in common. I want us to both spend more time in each others culture, so we can find a new culture together that blends both. I want to catch each other up on all the movies we haven't seen. I want to show you what life is like at my apartment, when I'm actually settled in somewhere. Basically, everything we haven't been able to do with me living in a different country and only able to stay with your parents (who I am very greatful for, along with everything they have done to make my visits possible).</p>

<p>We're finally going to get some time together to relax babe, and I couldn't be more excited. Thanks for being there for me gordita, te amo.</p>
